<div class="navbar-fixed">
    <div class="navbar-wrapper">
        <nav class="z-depth-0">
            <a href="/" class="brand-logo black-text center"><img src="icon/logo1.png" class="logo"/></a>
            <span class="right username"></span>
        </nav>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red z-depth-0 black">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a href="/views/class" class="btn-floating black" href="" title="Class"><i class="material-icons">class</i></a></li>
        <li><a href="/views/student" class="btn-floating black" href="" title="Students"><i class="material-icons">face</i></a></li>
        <li><a href="/views/logs" class="btn-floating black" href="" title="Logs"><i class="material-icons">content_paste</i></a></li>
        <li><a href="/views/analytics" class="btn-floating black" href="" title="Analytics"><i class="material-icons">insert_chart</i></a></li>
        <li><a href="/views/archived_classes" class="btn-floating black" href="" title="Archived Classes"><i class="material-icons">archive</i></a></li>
    </ul>
</div>
