body {
	background-color: #f5f6f6;
}

nav {
	background-color: #f5f6f6;
	z-index: 0px;
	color: black;
}

.logo {
	margin-top: 15px;
	height: 120px;
}

#main-content {
	margin-top: 100px;
}

.fixed-action-btn {
	top: 3px;
	left: 23px;
	width: 55.5px;
}

.fixed-action-btn ul{
	top: 85px;
	bottom: 0px;
	left: 0px;
}

.title {
	margin :0px;
}

#logo {
	margin-top: -8%;
}

#left, #right {
	margin-top: 10%;
}

#login {
	background-color: #CB494E;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
	border-bottom: 1px solid #CB494E;
	box-shadow: 0 1px 0 0 #CB494E;
}

input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label {
	color: #CB494E;
	
}

.input-field
.prefix.active{
	color: #CB494E;
}