<div class="container">
    <div class="row">
        <h1 class="center-align">{{class.class_section}}-{{class.section_number}}</h1>
    <p class="center-align">{{class.course_code}}</p>
    <p class="center-align">{{class.course_title}}</p>
    </div>
</div>

