<div class="container">
    <div class="row">
        <h1 class="center-align">{{faculty.username}}</h1>
    <p class="center-align">{{faculty.name}}</p>
    <p class="center-align">{{faculty.emp_num}}</p>
    <p class="center-align">{{faculty.email}}</p>
    </div>
</div>

