<div class="container">
    <div class="row">
        <img src="{{student.picture}}" class="center-align circle responsive-img">
        <h1 class="center-align">{{student.student_number}}</h1>
    	<p class="center-align">{{student.first_name}} {{student.last_name}}</p>
    </div>
</div>

