
.card-content{
	height: 10vw;
}
.row {
	font-weight:bold;
}
.card-action{
	background-color: black;
	font-size: 1.9vw;
}
.card-title{
	font-weight:bold;
}

#green{
	background: url("images/greenDisplay.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	
}

#yellow{
	background:url("images/yellowDisplay.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


#red{
	background:url("images/redDisplay.png");
	background-size: 100% 100%;
	 background-repeat: no-repeat;
}

#violet{
	background:url("images/violetDisplay.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#default{
	background-color: black;
	text-align: center;
	font-size: 1.9vw;
	color:white;
}

#dipsy{
	  color:rgb(196,237,104);
}
#laalaa{
	color:rgb(240,216,0);
}
#tinkywinky{
	color:rgb( 92,101,192);
}
#po{
	color:rgb(177,22,35);
}

.card:hover{
	-webkit-border-radius: 1.5vw;
	-moz-border-radius: 1.5vw;
	-ms-border-radius: 1.5vw;
	-o-border-radius: 1.5vw;
	border-radius: 1.5vw;
	-webkit-box-shadow: 0vw 0vw 5vw 0vw rgba(0, 0, 0, 0.80);
	-moz-box-shadow:    0vw 0vw 5vw 0vw rgba(0, 0, 0, 0.80);
	-ms-box-shadow:    0vw 0vw 5vw 0vw rgba(0, 0, 0, 0.80);
	-o-box-shadow:    0vw 0vw 5vw 0vw rgba(0, 0, 0, 0.80);
	box-shadow:         0vw 0vw 5vw 0vw rgba(0, 0, 0, 0.80);
}
