#select {
	color:white; 
}
.card-content{
	height: 12vw;
}
.row {
	font-weight:bold;
}
.card-action{
	background-color: black;
}
.card-title{
	font-weight:bold;
}
#color1{
	background-color:#C0D860;
}
#color2{
	background-color:#BF4D28;
}

#color5{
	background-color:#BD1550;
}

#color8{
	background-color:#CDB380;
}

