.listname_1{
    position: relative;;
    left:-50%;
    background-color: #b71c1c;
    border-radius: 10px;
    padding-left: 20px;
}
.listname_2{
    text-align: right;
    position: relative;;
    right:-50%;
    background-color: #212121;
    border-radius: 10px;
    padding-right: 20px;
}
.listname_1 h4{
    color: white;
}
.listname_2 h4{
    color: white;
}