#balloons{
   height: 100%;
   width: 100%;
   position: absolute;
}

.balloon {
  position: absolute;
  display: block;
  width: 180px; 
  height: 103.92px;
  margin: 51.96px 0;
  background-size: auto 207.8461px;
  background-position: center;
  opacity: 0.8;
}

.hex2Top,
.hex2Bottom {
  position: absolute;
  z-index: 1;
  width: 127.28px;
  height: 127.28px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 26.36px;
}

/*counter transform the bg image on the caps*/
.hex2Top:after,
.hex2Bottom:after {
  content: "";
  position: absolute;
  width: 180px;
  height: 103.92304845413264px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hex2Top {
  top: -63.6396px;
}

.hex2Top:after {
  background-position: center top;
}

.hex2Bottom {
  bottom: -63.6396px;
}

.hex2Bottom:after {
  background-position: center bottom;
}

.balloon:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 180px;
  height: 103.9230px;
  z-index: 2;
  background: inherit;
}
.balloon1{
  background-color: #b42529;
  left: 12%;
  animation: flyingBalloon 12s;
  -webkit-animation: flyingBalloon 12s;
}

.balloon2{
  background-color: #333333;
  left: 15%;
  animation: flyingBalloon 10s;
  -webkit-animation: flyingBalloon 10s;
}

.balloon3{
  background-color: #b42529;
  left: 18%;
  animation: flyingBalloon 17s;
  -webkit-animation: flyingBalloon 17s;
}

.balloon4{
  background-color: #333333;
  left: 21%;
  animation: flyingBalloon 14s;
  -webkit-animation: flyingBalloon 14s;
}

.balloon5{
  background-color: #b42529;
  left: 24%;
  animation: flyingBalloon 20s;
  -webkit-animation: flyingBalloon 20s;
}

.balloon6{
  background-color: #333333;;
  left: 27%;
  animation: flyingBalloon 13s;
  -webkit-animation: flyingBalloon 13s;
}

.balloon7{
  background-color: #b42529;
  left: 30%;
  animation: flyingBalloon 21s;
  -webkit-animation: flyingBalloon 21s;
}

.balloon8{
  background-color: #333333;
  left: 33%;
  animation: flyingBalloon 9s;
  -webkit-animation: flyingBalloon 9s;
}

.balloon9{
  background-color: #b42529;
  left: 36%;
  animation: flyingBalloon 17s;
  -webkit-animation: flyingBalloon 17s;
}

.balloon10{
  background-color: #333333;
  left: 39%;
  animation: flyingBalloon 7s;
  -webkit-animation: flyingBalloon 7s;
}

.balloon11{
  background-color: #b42529;
  left: 42%;
  animation: flyingBalloon 5s;
  -webkit-animation: flyingBalloon 5s;
}

.balloon12{
  background-color: #333333;
  left: 45%;
  animation: flyingBalloon 20s;
  -webkit-animation: flyingBalloon 20s;
}

.balloon13{
  background-color: #b42529;
  left: 48%;
  animation: flyingBalloon 10s;
  -webkit-animation: flyingBalloon 10s;
}

.balloon14{
  background-color: #333333;
  left: 51%;
  animation: flyingBalloon 9s;
  -webkit-animation: flyingBalloon 9s;
}

.balloon15{
  background-color: #b42529;
  left: 54%;
  animation: flyingBalloon 5s;
  -webkit-animation: flyingBalloon 5s;
}

.balloon16{
  background-color: #333333;
  left: 57%;
  animation: flyingBalloon 21s;
  -webkit-animation: flyingBalloon 21s;
}

.balloon17{
  background-color: #b42529;
  left: 60%;
  animation: flyingBalloon 17s;
  -webkit-animation: flyingBalloon 17s;
}

.balloon18{
  background-color: #333333;
  left: 63%;
  animation: flyingBalloon 19s;
  -webkit-animation: flyingBalloon 19s;
}

.balloon19{
  background-color: #b42529;
  left: 66%;
  animation: flyingBalloon 12s;
  -webkit-animation: flyingBalloon 12s;
}

.balloon20{
  background-color: #333333;
  left: 69%;
  animation: flyingBalloon 7s;
  -webkit-animation: flyingBalloon 7s;
}

.balloon21{
  background-color: #b42529;
  left: 72%;
  animation: flyingBalloon 7s;
  -webkit-animation: flyingBalloon 7s;
}

.balloon22{
  background-color: #333333;
  left: 75%;
  animation: flyingBalloon 7s;
  -webkit-animation: flyingBalloon 7s;
}

.balloon23{
  background-color: #b42529;
  left: 78%;
  animation: flyingBalloon 7s;
  -webkit-animation: flyingBalloon 7s;
}

.balloon24{
  background-color: #333333;
  left: 81%;
  animation: flyingBalloon 7s;
  -webkit-animation: flyingBalloon 7s;
}

.balloon25{
  background-color: #b42529;
  left: 84%;
  animation: flyingBalloon 7s;
  -webkit-animation: flyingBalloon 7s;
}

@-webkit-keyframes flyingBalloon{
    from {bottom: 2%;}
    to {bottom: 90%;}
}

@-moz-keyframes flyingBalloon{
    from {bottom: 2%;}
    to {bottom: 90%;}
}

@-ms-keyframes flyingBalloon{
    from {bottom: 2%;}
    to {bottom: 90%;}
}

@-o-keyframes flyingBalloon{
    from {bottom: 2%;}
    to {bottom: 90%;}
}

@keyframes flyingBalloon{
    from {bottom: 2%;}
    to {bottom: 90%;}
}

.balloon{
    position: absolute;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-delay: -120s;
    -webkit-animation-delay: -120s;
}