#volunteers-grid {
    left: 37%;
    position: absolute;
}
.card-grid {
    height: 100px;
    width: 100px;
    float: left;
    margin: 1%;
    margin-bottom: -1%;
}

.hexagon {
    position: relative;
    width: 110px;
    height: 63.51px;
    margin: 31.75px 0;
    background-color: cyan;
    background-size: auto 127.0171px;
    background-position: center;
    z-index: -1;
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: -1;
    width: 77.78px;
    height: 77.78px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 16.11px;
}
/*counter transform the bg image on the caps*/

.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 110.0000px;
    height: 63.50852961085884px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-31.7543px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-31.7543px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-31.7543px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -38.8909px;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -38.8909px;
}

.hexBottom:after {
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 110.0000px;
    height: 63.5085px;
    z-index: 2;
    background: inherit;
}

.flipped {
    background-color: #b42529;
}

.flipped:before {
    bottom: 100%;
    border-bottom: 31.75px solid #b42529;
}

.flipped:after {
    top: 100%;
    width: 0;
    border-top: 31.75px solid #b42529;
}

.unflipped {
    background-color: #b42529;
}

.unflipped:before {
    bottom: 100%;
    border-bottom: 31.75px solid inherit;
}

.unflipped:after {
    top: 100%;
    width: 0;
    border-top: 31.75px solid inherit;
}

.volunteer-name {
    height: 63.51px;
    line-height: 63.51px;
    vertical-align: middle;
    width: 110px;
    margin: 1%;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 5px;
    opacity: 0.0;
    transition: opacity 0.5s ease;
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.5);
    font-size: 12pt;
}

.volunteer-name:hover {
    transition: opacity 0.5s ease;
    opacity: 1.0;
}
