.listname1{
    text-align: left;
    position: relative;
    left:20%;
    background-color: #b71c1c;
    border-radius: 10px;
    padding-left: 20px;
}
.listname2{
    text-align: right;
    position: relative;;
    right:20%;
    background-color: #212121;
    border-radius: 10px;
    padding-right: 20px;
}
.listname1 h4{
    color: white;
    opacity: 0;
}
.listname2 h4{
    color: white;
    opacity: 0;
}
h3{
    text-align: center;
}
#container-list{
    margin-top: 50px;
}
#start-again{
    background-color: #b42529;
    left: 8%;
}
