#spinner {
	top: 75px;
	left: 36%;
	width: 100px;
	height: 100px;
	position: relative;
	z-index:1;
}
#dice1, #dice2 {
	top: 80px;
	width: 150px;
	height: 150px;
	position: absolute;
}
#dice1 {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform-style: rotate(45deg);
}
#dice2 {
	left: 150px;	
}
#arrows {
	top: -180px;
	left: 20%;
	position: relative;	
	z-index: -1;
}
#randomize-btn {
	background-color: #b42529;
	top: 600px;
	left: 47%;
	position: absolute;
}